/*********************************/
/********* MISSION PAGE *********/
/*******************************/

.featured {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 150px 500px;
/*    grid-gap: 20px;*/
    height: 700px;
/*    border: 1px solid black;*/
    padding-top: 50px;
    padding-bottom: 50px;
}

.featured > .section-header {
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}
